#u39_div-s {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 9px;
    width: 1536px;
    height: 60px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

#u39-s {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 120px;
    width: 1520px;
    height: 60px;
    text-align: left;
}

#u41-s {
    border-width: 0px;
    position: absolute;
    left: -30px;
    top: 20px;
    width: 120px;
    height: 60px;
    font-family: "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: right;
}

#u102-s {
    border-width: 0px;
    position: absolute;
    left: 235px;
    top: 20px;
    width: 120px;
    height: 60px;
    font-family: "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: right;
}

#u43-s {
    position: absolute;
    height: 35px;
    text-align: left;
}

#u44-s {
    position: absolute;
    height: 35px;
    text-align: left;
}

#u41-2 {
    border-width: 0px;
    position: absolute;
    left: 562px;
    top: 20px;
    width: 120px;
    height: 60px;
    font-family: "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: right;
}

#u102-2 {
    border-width: 0px;
    position: absolute;
    left: 866px;
    top: 20px;
    width: 120px;
    height: 60px;
    font-family: "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: right;
}

#u43-2 {
    position: absolute;
    height: 35px;
    text-align: left;
}

#u44-2 {
    text-align: left;
}

#u45-s {
    position: absolute;
    left: 1215px;
    top: 15px;
    width: 114px;
    height: 35px;
}

#u45-sexit {
    position: absolute;
    left: 1340px;
    top: 15px;
    width: 114px;
    height: 35px;
}

.selectAll {
    position: absolute;
    top: 670px;
    height: 50px;
    width: 100%;
    background-color: rgba(110, 125, 131, 0.2);
}



.select {
    position: absolute;
    top: 10px;
    left: 70px;
}

.checkOne {
    position: absolute;
    top: 40px;
    left: 50%;
    zoom: 200%;
}
